<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA Consumindo API</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Lista de Usuários</h1>

        <button id="buscarBtn">
            Buscar Usuários
        </button>

        <div id="usuarios"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>